
html{
   background-image: url(/nesa-by-makers-IgUR1iX0mqM-unsplash.jpg);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   color: whitesmoke;
}

.wrap{
   display: grid;
   grid-template-columns: repeat(auto-fit, min-max(auto, auto));
   grid-template-rows: repeat(auto-fit, min-max(250px, auto));
   margin: 10px;
   justify-items: center;
   align-content: center;
   font-size: 1.1rem;
   font-family: monospace;
   grid-template-areas: 
   "side-bar-1 header   side-bar-2"
   "side-bar-1 form     side-bar-2"
   "side-bar-1 content  side-bar-2"
   "side-bar-1 content  side-bar-2"
   "side-bar-1 content  side-bar-2"
   "side-bar-1 content  side-bar-2"
   ;
}

#header{
grid-area: header;
background-color: rgba(255, 255, 255, 0.9);

}