
html{
   background-image: url(/nesa-by-makers-IgUR1iX0mqM-unsplash.jpg);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   color: whitesmoke;
}

.wrap{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows:    25% 1fr;
   margin: 20px;
   font-size: 1.1rem;
   font-family: monospace;
   grid-template-areas: 
   "header  sidebar"
   "form    sidebar"
   ;
}

.header, h1, p{
   grid-area: header;
   overflow: hidden;
   text-align: center;
   column-width: 1fr;
   justify-self: center;
}

form{
   grid-area: form;
}